* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

:root {
    --primary-color: #733432;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.navbar {
    background: #fff;
    padding: 20px;
}

.navbar img {
    max-height: 80px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--primary-color) ;
}

/* Hero */

.hero {
    margin-bottom: 0px;
    background: url(https://github.com/jbyerly/jbyerly.github.io/issues/3#issue-2403746159) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 575px;
    align-items: center;
}

.hero .container {
    width: 100%;
    height: 575px;
    bottom: 0;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 100px;
    align-items: center;
}

.hero-content {
    color: #fff;
    flex-grow: 1;
    flex-basis: calc(100% / 2);
    padding: 0 20px 0 20px;
}

.hero-video {
    flex-grow: 1;
    flex-basis: calc(100% / 2);
}

.hero h1 {
    margin-top: 0;
}

.overlay-hero {
    width: 100%;
    height: 575px;
    background: #465052;
    opacity: 0.6;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 126.4px;
    z-index: 0;
}

.hero-button {
    margin-top: 2rem;
}

.fill-content {
    display: block;
    height: 0;
    max-height: 50%;
    max-width: 100%;
    min-height: 50%;
    min-width: 25%;
    width: 0;
    margin: auto;
}

/* Events */

.events {
    background-color: var(--primary-color);
    padding: 40px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.events-row {
    display: flex;
    column-gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.events-col {
    flex-grow: 1;
    flex-basis: calc(100% / 2);
}

.events-col-2 {
    flex-grow: 1;
    flex-basis: calc(100% / 2);
    display: flex;
    column-gap: 20px;
}

/* People */

.people {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.people-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

.people .card-wrapper {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.people, .people2, .people3 {
    min-height: 360px;
}

.people2 {
    background-color: #ffffff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://private-user-images.githubusercontent.com/47181989/347930707-d6faea2f-f0d3-48c5-956e-2fd0af40d423.jpeg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MjA3MjA5MzMsIm5iZiI6MTcyMDcyMDYzMywicGF0aCI6Ii80NzE4MTk4OS8zNDc5MzA3MDctZDZmYWVhMmYtZjBkMy00OGM1LTk1NmUtMmZkMGFmNDBkNDIzLmpwZWc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQwNzExJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDcxMVQxNzU3MTNaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1jODkxMDIyYjIxNDc3NGRmMmE5YzlkMWFjMjE5N2ExMGM1MTY3NzY1MDdlMDQ2ZmRlOTA0ZDczOTdiODQ0NjRkJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.wqPSgIUApA-C3j53tYsrWbLaRwxAAw3rhK7_fi3a7o4);
}

/* People 4 */

.links {
    width: 100%;  
    padding-top: 1rem;
    padding-bottom: 3rem;  
}

.container-full {
    height: 289px;
    width: 100%;
}

.links-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

.links-wrapper {
    flex: 0 0 25%;
    max-width: 25%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 100%;
}

.card1 {
    background-color: #29333a;
}

.card2 {
    background-color: #733432;
}

.card3 {
    background-color: #944240;
}

.card4 {
    background-color: #c76764;
}

/* Utility Class */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

/* Text Classes */

.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-xl-nm {
    font-size: 2.5rem;
    line-height: 1.0;
    font-weight: normal;
    margin: 0px 0 0px;
}

.text-lg-nm {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 0px 0 0px;
}

.text-center {
    text-align: center;
}

.text-w {
    color: white;
}

.text-sm-i {
    font-style: italic;
}

.text-bold {
    font-weight: 600;
}
